<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>Shaders/Shader.fsh</key>
		<dict>
			<key>Path</key>
			<string>Shader.fsh</string>
		</dict>
		<key>Shaders/Shader.vsh</key>
		<dict>
			<key>Path</key>
			<string>Shader.vsh</string>
		</dict>
		<key>___PACKAGENAME___-Info.plist:UIStatusBarHidden</key>
		<string>&lt;key&gt;UIStatusBarHidden&lt;/key&gt;
&lt;true/&gt;
</string>
		<key>___PACKAGENAME___-Info.plist:UIViewControllerBasedStatusBarAppearance</key>
		<string>&lt;key&gt;UIViewControllerBasedStatusBarAppearance&lt;/key&gt;
&lt;false/&gt;
</string>
		<key>___PACKAGENAME___-Prefix.pch:Availability:iPhoneAvailability:4</key>
		<string></string>
		<key>___VARIABLE_classPrefix:identifier___ViewController.h</key>
		<dict>
			<key>Path</key>
			<string>ViewController.h</string>
		</dict>
		<key>___VARIABLE_classPrefix:identifier___ViewController.m</key>
		<dict>
			<key>Path</key>
			<string>ViewController.m</string>
		</dict>
		<key>PTGLProgram.h</key>
		<dict>
			<key>Path</key>
			<string>PTGLProgram.h</string>
		</dict>
		<key>PTGLProgram.m</key>
		<dict>
			<key>Path</key>
			<string>PTGLProgram.m</string>
		</dict>
		<key>___VARIABLE_classPrefix:identifier___ModelData.h</key>
		<dict>
			<key>Path</key>
			<string>ModelData.h</string>
		</dict>
	</dict>
	<key>Description</key>
	<string>This template provides an adapted version of the default GLKit template and a class for managing OpenGL shaders.</string>
	<key>Identifier</key>
	<string>com.programmingthomas.openGLApp</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAME___-Prefix.pch:Availability:iPhoneAvailability:5</string>
		<string>___PACKAGENAME___-Info.plist:UIStatusBarHidden</string>
        <string>___PACKAGENAME___-Info.plist:UIViewControllerBasedStatusBarAppearance</string>
		<string>Shaders/Shader.fsh</string>
		<string>Shaders/Shader.vsh</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.h</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.m</string>
		<string>PTGLProgram.h</string>
		<string>PTGLProgram.m</string>
		<string>___VARIABLE_classPrefix:identifier___ModelData.h</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Units</key>
			<dict>
				<key>Universal</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main_iPad.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPad.storyboard</string>
						</dict>
						<key>Base.lproj/Main_iPhone.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPhone.storyboard</string>
						</dict>
					</dict>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPad.storyboard</string>
						</dict>
					</dict>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPhone.storyboard</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Targets</key>
	<array>
		<dict>
			<key>Frameworks</key>
			<array>
				<string>GLKit</string>
				<string>OpenGLES</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
